.main-section {
  width: 100vw;
  /* height: 100vh; */
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}
