.overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  /* justify-content: center;
  align-content: center; */
}

.overview {
  width: 325px;
  height: 175px;
  background-color: #fff;
  border-radius: 5px;
  color: black;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: center; */
  align-self: center;
  justify-self: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.metrics {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
